Repository ja-m3s/smart-home-assistant: changes, and which CircleCI parameters are due for each by the changed paths.
All: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

Update useful-commands.md
  docs/useful-commands.md
Due: none

metrics in docs in git
  .circleci/continue_config.yml
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

circleci pipeline changes
  .circleci/continue_config.yml
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

added metrics for shared utils
  docs/metrics.zip
Due: none

added metrics for shared utils
  docs/sharedUtils-metrics.zip
Due: none

added metrics for dbImporter
  docs/dbImporter-metrics.zip
Due: none

added metrics for lightBulb
  docs/lightBulb-metrics.zip
Due: none

added metrics for lightBulbMonitor
  docs/lightBulbMonitor-metrics.zip
Due: none

made rabbitmq connections retry in the event of failure
  java/dbImporter/src/main/java/com/jam3s/dbimporter/DBImporter.java
  java/lightBulb/src/main/java/com/jam3s/lightbulb/LightBulbController.java
  java/lightBulbMonitor/src/main/java/com/jam3s/lightbulbmonitor/LightBulbMonitor.java
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

made rabbitmq connections retry in the event of failure
  java/lightBulb/src/main/java/com/jam3s/lightbulb/LightBulbController.java
  java/lightBulbMonitor/src/main/java/com/jam3s/lightbulbmonitor/LightBulbMonitor.java
Due: param-build-light-bulb, param-build-light-bulb-monitor

fixed comment
  .circleci/continue_config.yml
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

added relative pathing to script
  scripts/environment-setup/microk8s.sh
Due: none

made db-importer able to catchup with the messages
  java/dbImporter/src/main/java/com/jam3s/dbimporter/DBImporter.java
Due: param-build-db-importer

initial pipelining works for remote
  .circleci/config.yml
  .circleci/continue_config.yml
  helm/templates/remote.yaml
  helm/values.yaml
  java/remote/Dockerfile
  java/remote/src/main/java/com/jam3s/remote/RemoteApplication.java
  scripts/build/build-images.sh
  scripts/circleci-configuration/circle-env.sh
  scripts/circleci-configuration/create-circle-context.sh
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

fixed pipeline
  .circleci/continue_config.yml
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

rename and try at vaadin fix
  java/remote/build.gradle
  scripts/deploy/helm-apply.sh
Due: none

testing rabbitmq connection for remote
  README.md
  docs/cockroach-db-secure-client.md
  docs/cockroach-db.md
  docs/db-importer.md
  docs/grafana.md
  docs/light-bulb-monitor.md
  docs/light-bulb.md
  docs/prometheus.md
  docs/rabbitmq.md
  docs/remote.md
  docs/sharedUtils.md
  java/remote/Dockerfile
  java/remote/build.gradle
  java/remote/frontend/generated/flow/generated-flow-imports.js
  java/remote/frontend/generated/index.ts
  java/remote/frontend/generated/vaadin.ts
  java/remote/src/main/java/com/jam3s/remote/RemoteApplication.java
  scripts/deploy/helm-apply.sh
  test-plans/1-test-pre-requisites.md
Due: none

edit gitignore
  .gitignore
Due: none

deleted private constructor
  java/remote/src/main/java/com/jam3s/remote/RemoteApplication.java
Due: none

initial test of getting lightbulb status in browser
  java/remote/src/main/java/com/jam3s/remote/MainView.java
  java/remote/src/main/java/com/jam3s/remote/RemoteApplication.java
Due: none

edit
  java/remote/src/main/java/com/jam3s/remote/MainView.java
Due: none

edit order of main
  java/remote/src/main/java/com/jam3s/remote/RemoteApplication.java
Due: none

editted main
  java/remote/src/main/java/com/jam3s/remote/RemoteApplication.java
Due: none

Path conditions:
  param-build-db-importer: (any of: java/dbImporter/.*) or (any of: .circleci/.*)
  param-build-light-bulb: (any of: java/lightBulb/.*) or (any of: .circleci/.*)
  param-build-light-bulb-monitor: (any of: java/lightBulbMonitor/.*) or (any of: .circleci/.*)
