Repository ja-m3s/smart-home-assistant: changes, and which CircleCI parameters are due for each by the changed paths.
All: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

made light timeout configuration possible from values.yaml
  helm/templates/light-bulb-monitor.yaml
  helm/values.yaml
  java/lightBulbMonitor/src/main/java/com/jam3s/lightbulbmonitor/LightBulbMonitor.java
Due: param-build-light-bulb-monitor

refactor lightbuldmonitor
  java/lightBulbMonitor/src/main/java/com/jam3s/lightbulbmonitor/LightBulbMonitor.java
  java/lightBulbMonitor/src/test/java/com/jam3s/lightbulbmonitor/LightBulbMonitorTest.java
Due: param-build-light-bulb-monitor

checkcode refactor
  java/lightBulbMonitor/src/main/java/com/jam3s/lightbulbmonitor/LightBulbMonitor.java
Due: param-build-light-bulb-monitor

checkstyle fixes
  java/lightBulbMonitor/src/main/java/com/jam3s/lightbulbmonitor/LightBulbMonitor.java
Due: param-build-light-bulb-monitor

checkstyle refactor
  java/lightBulb/src/main/java/com/jam3s/lightbulb/LightBulb.java
  java/lightBulb/src/main/java/com/jam3s/lightbulb/LightBulbController.java
Due: param-build-light-bulb

checkstyle refactor
  java/lightBulb/src/main/java/com/jam3s/lightbulb/LightBulb.java
Due: param-build-light-bulb

checkstyle refactor
  .circleci/continue_config.yml
  java/lightBulb/src/main/java/com/jam3s/lightbulb/LightBulbController.java
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

circle refactor
  .circleci/config.yml
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

checkstyle refactor
  java/sharedUtils/src/main/java/com/jam3s/sharedutils/SharedUtils.java
Due: none

refactoring of methods into sharedUtils
  java/dbImporter/src/main/java/com/jam3s/dbimporter/DBImporter.java
  java/lightBulb/src/main/java/com/jam3s/lightbulb/LightBulbController.java
  java/lightBulbMonitor/src/main/java/com/jam3s/lightbulbmonitor/LightBulbMonitor.java
  java/lightBulbMonitor/src/test/java/com/jam3s/lightbulbmonitor/LightBulbMonitorTest.java
  java/sharedUtils/src/main/java/com/jam3s/sharedutils/SharedUtils.java
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

refactoring of methods into sharedUtils
  java/sharedUtils/src/main/java/com/jam3s/sharedutils/SharedUtils.java
Due: none

bug fixes yaml
  helm/templates/light-bulb-monitor.yaml
  helm/values.yaml
Due: none

added doc templates
  README.md
  docs/cockroach-db-secure-client.md
  docs/cockroach-db.md
  docs/db-importer.md
  docs/grafana.md
  docs/light-bulb-monitor.md
  docs/light-bulb.md
  docs/prometheus.md
  docs/rabbitmq.md
Due: none

added doc templates
  README.md
Due: none

Update README.md
  README.md
Due: none

Create remote.md
  docs/remote.md
Due: none

Update light-bulb.md
  docs/light-bulb.md
Due: none

Update light-bulb-monitor.md
  docs/light-bulb-monitor.md
Due: none

Update db-importer.md
  docs/db-importer.md
Due: none

Create sharedUtils.md
  docs/sharedUtils.md
Due: none

Update sharedUtils.md
  docs/sharedUtils.md
Due: none

Update prometheus.md
  docs/prometheus.md
Due: none

Update grafana.md
  docs/grafana.md
Due: none

Update remote.md
  docs/remote.md
Due: none

Update rabbitmq.md
  docs/rabbitmq.md
Due: none

Update cockroach-db.md
  docs/cockroach-db.md
Due: none

Update cockroach-db-secure-client.md
  docs/cockroach-db-secure-client.md
Due: none

Create useful-commands.md
  docs/useful-commands.md
Due: none

Path conditions:
  param-build-db-importer: (any of: java/dbImporter/.*) or (any of: .circleci/.*)
  param-build-light-bulb: (any of: java/lightBulb/.*) or (any of: .circleci/.*)
  param-build-light-bulb-monitor: (any of: java/lightBulbMonitor/.*) or (any of: .circleci/.*)
