Repository ja-m3s/smart-home-assistant: changes, and which CircleCI parameters are due for each by the changed paths.
All: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Refactor to use gradle - fixing styles
  java/lightBulb/src/test/java/com/jam3s/lightbulb/LightBulbTest.java
Due: param-build-light-bulb

Refactor to use gradle - fixing styles
  java/dbImporter/gradle/wrapper/gradle-wrapper.jar
  java/dbImporter/gradle/wrapper/gradle-wrapper.properties
  java/dbImporter/gradlew
  java/dbImporter/gradlew.bat
  java/dbImporter/settings.gradle
  java/dbImporter/src/main/java/com/jam3s/dbimporter/DBImporter.java
  java/dbImporter/src/test/java/com/jam3s/dbimporter/DBImporterTest.java
Due: param-build-db-importer

Refactor to use gradle - fixing styles
  java/dbImporter/build.gradle
  java/lightBulb/build.gradle
  java/lightBulbMonitor/build.gradle
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

Refactor to use gradle - fix dependencies
  java/remote/build.gradle
Due: param-build-remote

Refactor to use gradle - creating multiproject
  java/buildSrc/build.gradle
  java/buildSrc/shared.gradle
  java/dbImporter/build.gradle
  java/dbImporter/gradle/wrapper/gradle-wrapper.jar
  java/dbImporter/gradle/wrapper/gradle-wrapper.properties
  java/dbImporter/gradlew
  java/dbImporter/gradlew.bat
  java/dbImporter/settings.gradle
  java/lightBulb/settings.gradle
  java/lightBulbMonitor/Dockerfile
  java/lightBulbMonitor/build.gradle
  java/lightBulbMonitor/config/checkstyle/checkstyle.xml
  java/lightBulbMonitor/gradle/wrapper/gradle-wrapper.jar
  java/lightBulbMonitor/gradle/wrapper/gradle-wrapper.properties
  java/lightBulbMonitor/gradlew
  java/lightBulbMonitor/gradlew.bat
  java/lightBulbMonitor/settings.gradle
  java/lightBulbMonitor/src/main/java/com/jam3s/lightbulbmonitor/LightBulbMonitor.java
  java/lightBulbMonitor/src/main/java/com/jam3s/lightbulbmonitor/package-info.java
  java/lightBulbMonitor/src/test/java/com/jam3s/lightbulbmonitor/LightBulbMonitorTest.java
  java/lightBulbMonitor/src/test/java/com/jam3s/lightbulbmonitor/package-info.java
  java/remote/gradle/wrapper/gradle-wrapper.jar
  java/remote/gradle/wrapper/gradle-wrapper.properties
  java/remote/gradlew
  java/remote/gradlew.bat
  java/remote/settings.gradle
  java/settings.gradle
  java/sharedUtils/gradle/wrapper/gradle-wrapper.jar
  java/sharedUtils/gradle/wrapper/gradle-wrapper.properties
  java/sharedUtils/gradlew
  java/sharedUtils/gradlew.bat
  java/sharedUtils/settings.gradle
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Refactor to use gradle - creating multiproject
  java/buildSrc/gradle/wrapper/gradle-wrapper.jar
  java/buildSrc/gradle/wrapper/gradle-wrapper.properties
  java/buildSrc/gradlew
  java/buildSrc/gradlew.bat
  java/dbImporter/build.gradle
  java/gradle/wrapper/gradle-wrapper.jar
  java/gradle/wrapper/gradle-wrapper.properties
  java/gradlew
  java/gradlew.bat
  java/lightBulbMonitor/Dockerfile
  java/lightBulbMonitor/build.gradle
  java/lightBulbMonitor/config/checkstyle/checkstyle.xml
  java/lightBulbMonitor/src/main/java/com/jam3s/lightbulbmonitor/LightBulbMonitor.java
  java/lightBulbMonitor/src/main/java/com/jam3s/lightbulbmonitor/package-info.java
  java/lightBulbMonitor/src/test/java/com/jam3s/lightbulbmonitor/LightBulbMonitorTest.java
  java/lightBulbMonitor/src/test/java/com/jam3s/lightbulbmonitor/package-info.java
  java/sharedUtils/build.gradle
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Refactor to use gradle - creating multiproject
  java/dbImporter/Dockerfile
  java/lightBulb/Dockerfile
  java/lightBulbMonitor/Dockerfile
  java/remote/Dockerfile
  java/sharedUtils/Dockerfile
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Refactor to use gradle - creating multiproject
  java/buildSrc/shared.gradle
  java/dbImporter/build.gradle
  java/lightBulb/build.gradle
  java/lightBulbMonitor/build.gradle
  java/sharedUtils/build.gradle
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Refactor to use gradle - creating multiproject
  java/buildSrc/shared.gradle
Due: none

Refactor to use gradle - creating multiproject
  .circleci/config.yml
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Refactor to use gradle - creating multiproject
  java/buildSrc/build.gradle
  java/buildSrc/shared.gradle
Due: none

Refactor to use gradle - creating multiproject
  java/buildSrc/build.gradle
  java/buildSrc/src/main/kotlin/buildSrc.shared-plugins.gradle.kts
  java/sharedUtils/build.gradle
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Refactor to use gradle - creating multiproject
  java/buildSrc/src/main/groovy/buildSrc.shared-plugins.gradle
Due: none

Refactor to use gradle - creating multiproject
  java/buildSrc/build.gradle
  java/buildSrc/settings.gradle
  java/buildSrc/shared.gradle
  java/buildSrc/src/main/groovy/buildSrc.shared-plugins.gradle
  java/buildSrc/src/main/groovy/myproject.java-conventions.gradle
  java/dbImporter/build.gradle
  java/lightBulb/build.gradle
  java/lightBulbMonitor/build.gradle
  java/remote/build.gradle
  java/sharedUtils/build.gradle
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Refactor to use gradle - creating multiproject
  java/config/checkstyle/checkstyle.xml
  java/lightBulb/config/checkstyle/checkstyle.xml
  java/lightBulbMonitor/config/checkstyle/checkstyle.xml
  java/sharedUtils/Dockerfile
  java/sharedUtils/config/checkstyle/checkstyle.xml
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Refactor to use gradle - creating multiproject
  java/buildSrc/build.gradle
Due: none

Refactor to use gradle - creating multiproject
  java/buildSrc/build.gradle
  java/buildSrc/shared.gradle
  java/buildSrc/src/main/groovy/myproject.java-conventions.gradle
Due: none

Refactor to use gradle - creating multiproject
  java/dbImporter/Dockerfile
  java/lightBulb/Dockerfile
  java/lightBulbMonitor/Dockerfile
  java/sharedUtils/Dockerfile
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Refactor to use gradle - creating multiproject
  java/dbImporter/Dockerfile
  java/sharedUtils/Dockerfile
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Refactor to use gradle - creating multiproject
  java/sharedUtils/Dockerfile
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Refactor to use gradle - creating multiproject
  java/dbImporter/build.gradle
Due: param-build-db-importer

Refactor to use gradle - creating multiproject
  java/lightBulb/Dockerfile
  java/lightBulb/build.gradle
  java/lightBulbMonitor/Dockerfile
  java/lightBulbMonitor/build.gradle
  java/remote/Dockerfile
  java/remote/build.gradle
Due: param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Refactor to use gradle - creating multiproject
  java/lightBulb/Dockerfile
  java/lightBulbMonitor/Dockerfile
  java/remote/Dockerfile
Due: param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Refactor to use gradle - creating multiproject
  java/remote/build.gradle
  java/remote/src/test/java/com/jam3s/remote/RemoteApplicationTests.java
Due: param-build-remote

Refactor to use gradle - creating multiproject
  java/dbImporter/src/main/java/com/jam3s/dbimporter/DBImporter.java
Due: param-build-db-importer

Refactor to use gradle - creating multiproject
  java/remote/src/test/java/com/jam3s/remote/RemoteApplicationTests.java
Due: param-build-remote

Refactor to use gradle - creating multiproject
  java/buildSrc/src/main/groovy/myproject.java-conventions.gradle
  java/lightBulb/src/main/java/com/jam3s/lightbulb/LightBulbController.java
  java/lightBulbMonitor/src/main/java/com/jam3s/lightbulbmonitor/LightBulbMonitor.java
  java/lightBulbMonitor/src/test/java/com/jam3s/lightbulbmonitor/LightBulbMonitorTest.java
  java/remote/build.gradle
  java/remote/frontend/generated/flow/generated-flow-imports.d.ts
  java/remote/frontend/generated/flow/generated-flow-imports.js
  java/remote/frontend/generated/index.ts
  java/remote/frontend/generated/vaadin.ts
  java/remote/frontend/index.html
  java/remote/src/main/java/com/jam3s/remote/MainView.java
  java/remote/src/main/java/com/jam3s/remote/RemoteApplication.java
  java/remote/src/test/java/com/jam3s/remote/RemoteApplicationTests.java
  java/sharedUtils/src/main/java/com/jam3s/sharedutils/SharedUtils.java
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Refactor to use gradle - creating multiproject
  java/remote/src/main/java/com/jam3s/remote/RemoteApplication.java
Due: param-build-remote

Refactor to use gradle - creating multiproject
  java/remote/src/main/java/com/jam3s/remote/MainView.java
  java/remote/src/main/java/com/jam3s/remote/RemoteApplication.java
Due: param-build-remote

Refactor to use gradle - creating multiproject
  java/remote/build.gradle
  java/remote/src/main/java/com/jam3s/remote/RemoteApplication.java
Due: param-build-remote

Refactor to use gradle - creating multiproject
  .circleci/continue_config.yml
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Path conditions:
  param-build-shared-utils: (any of: java/sharedUtils/.*) or (any of: .circleci/.*)
  param-build-db-importer: ((any of: java/sharedUtils/.*) or (any of: java/dbImporter/.*)) or (any of: .circleci/.*)
  param-build-light-bulb: ((any of: java/sharedUtils/.*) or (any of: java/lightBulb/.*)) or (any of: .circleci/.*)
  param-build-light-bulb-monitor: ((any of: java/sharedUtils/.*) or (any of: java/lightBulbMonitor/.*)) or (any of: .circleci/.*)
  param-build-remote: ((any of: java/sharedUtils/.*) or (any of: java/remote/.*)) or (any of: .circleci/.*)
