Repository ja-m3s/smart-home-assistant: changes, and which CircleCI parameters are due for each by the changed paths.
All: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

refactor workflows
  .circleci/continue_config.yml
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

fix jacoco zips
  .circleci/continue_config.yml
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

refactor dockerfiles
  java/dbImporter/Dockerfile
Due: param-build-db-importer

fixed wf
  java/lightBulb/Dockerfile
  java/lightBulbMonitor/Dockerfile
Due: param-build-light-bulb, param-build-light-bulb-monitor

lbm changes
  .circleci/continue_config.yml
  java/lightBulbMonitor/Dockerfile
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

lbm changes
  .circleci/continue_config.yml
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

circle zip changes
  .circleci/continue_config.yml
  java/dbImporter/Dockerfile
  java/lightBulb/Dockerfile
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

circle zip changes
  .circleci/continue_config.yml
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

Update system-test.md
  test-plans/system-test.md
Due: none

Update and rename system-test.md to 1-test-pre-requisites.md
  test-plans/1-test-pre-requisites.md
Due: none

Create 2-test-lightbulb.md
  test-plans/2-test-lightbulb.md
Due: none

Create 3-test-light-bulb-monitor.md
  test-plans/3-test-light-bulb-monitor.md
Due: none

Create test-db-importer.md
  test-plans/test-db-importer.md
Due: none

Rename test-db-importer.md to 4-test-db-importer.md
  test-plans/4-test-db-importer.md
Due: none

Create 5-test-database.md
  test-plans/5-test-database.md
Due: none

Create test-prometheus.md
  test-plans/test-prometheus.md
Due: none

Create 7-test-grafana.md
  test-plans/7-test-grafana.md
Due: none

Create 8-test-secure-client.md
  test-plans/8-test-secure-client.md
Due: none

Rename test-prometheus.md to 8-test-prometheus.md
  test-plans/8-test-prometheus.md
Due: none

Rename 8-test-prometheus.md to 6-test-prometheus.md
  test-plans/6-test-prometheus.md
Due: none

Update 1-test-pre-requisites.md
  test-plans/1-test-pre-requisites.md
Due: none

Update 2-test-lightbulb.md
  test-plans/2-test-lightbulb.md
Due: none

Update 3-test-light-bulb-monitor.md
  test-plans/3-test-light-bulb-monitor.md
Due: none

Update 4-test-db-importer.md
  test-plans/4-test-db-importer.md
Due: none

Path conditions:
  param-build-db-importer: (any of: java/dbImporter/.*) or (any of: .circleci/.*)
  param-build-light-bulb: (any of: java/lightBulb/.*) or (any of: .circleci/.*)
  param-build-light-bulb-monitor: (any of: java/lightBulbMonitor/.*) or (any of: .circleci/.*)
