Repository ja-m3s/smart-home-assistant: changes, and which CircleCI parameters are due for each by the changed paths.
All: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Checkstyle
  java/remote/src/main/java/com/jam3s/remote/RemoteApplication.java
Due: param-build-remote

Checkstyle
  java/remote/Dockerfile
  java/remote/build.gradle
  java/remote/src/main/java/com/jam3s/remote/RemoteApplication.java
Due: param-build-remote

Checkstyle
  java/buildSrc/src/main/groovy/myproject.java-conventions.gradle
  java/sharedUtils/build.gradle
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

added docs/sharedUtils-metrics.zip
  docs/sharedUtils-metrics.zip
Due: none

added docs/dbImporter-metrics.zip
  docs/dbImporter-metrics.zip
Due: none

added docs/lightBulb-metrics.zip
  docs/lightBulb-metrics.zip
Due: none

added docs/lightBulbMonitor-metrics.zip
  docs/lightBulbMonitor-metrics.zip
Due: none

Checkstyle
  java/remote/build.gradle
Due: param-build-remote

Checkstyle
  .circleci/config.yml
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Checkstyle
  .circleci/continue_config.yml
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Pipeline refactor.
  .circleci/continue_config.yml
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Pipeline refactor.
  .circleci/config.yml
  .circleci/continue_config.yml
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Path conditions:
  param-build-shared-utils: (any of: java/sharedUtils/.*) or (any of: .circleci/.*)
  param-build-db-importer: ((any of: java/sharedUtils/.*) or (any of: java/dbImporter/.*)) or (any of: .circleci/.*)
  param-build-light-bulb: ((any of: java/sharedUtils/.*) or (any of: java/lightBulb/.*)) or (any of: .circleci/.*)
  param-build-light-bulb-monitor: ((any of: java/sharedUtils/.*) or (any of: java/lightBulbMonitor/.*)) or (any of: .circleci/.*)
  param-build-remote: ((any of: java/sharedUtils/.*) or (any of: java/remote/.*)) or (any of: .circleci/.*)
