Repository ja-m3s/smart-home-assistant: changes, and which CircleCI parameters are due for each by the changed paths.
All: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

moved zip
  .circleci/continue_config.yml
  java/dbImporter/Dockerfile
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

moved zip
  java/dbImporter/Dockerfile
Due: param-build-db-importer

moved zip
  .circleci/continue_config.yml
  java/lightBulb/Dockerfile
  java/lightBulbMonitor/Dockerfile
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

fixed secure client
  helm/raw-files/schema.sh
Due: none

folder rename
  scripts/deploy/helm-delete.sh
  scripts/deploy/helm-deploy.sh
  scripts/deploy/helm-upgrade.sh
Due: none

fixed bug
  java/lightBulb/src/main/java/lightBulb/LightBulbController.java
Due: param-build-light-bulb

fixed bug with lbm, changed to stateful set
  helm/templates/light-bulb-monitor.yaml
Due: none

fixes to stateful set of cockroachdb
  helm/templates/cockroach-client.yaml
  helm/values.yaml
  scripts/admin/database-admin-console.sh
Due: none

Update teardown-circle-context.sh
  scripts/circleci-configuration/teardown-circle-context.sh
Due: none

Update database-admin-console.sh
  scripts/admin/database-admin-console.sh
Due: none

Update build-images.sh
  scripts/build/build-images.sh
Due: none

added a default registry for local testing
  helm/templates/db-importer.yaml
  helm/templates/light-bulb-monitor.yaml
  helm/templates/light-bulb.yaml
  helm/values.yaml
Due: none

added conditional logic for local registry
  helm/templates/db-importer.yaml
  helm/templates/light-bulb-monitor.yaml
  helm/templates/light-bulb.yaml
Due: none

added rabbitmq as datasource to prometheus
  helm/templates/prometheus.yaml
  helm/templates/rabbitmq.yaml
Due: none

added grafana dashboards
  helm/raw-files/database/schema.sh
  helm/raw-files/grafana-provisioning/default.yaml
  helm/raw-files/grafana/dbreplication.json
  helm/raw-files/grafana/dbruntime.json
  helm/raw-files/grafana/dbsql.json
  helm/raw-files/grafana/dbstorage.json
  helm/raw-files/grafana/rabbitmq.json
  helm/templates/cockroach-client.yaml
  helm/templates/grafana.yaml
  helm/templates/prometheus.yaml
  scripts/admin/dns-checker.yaml
Due: none

added metrics to java build
  .circleci/continue_config.yml
  java/lightBulb/Dockerfile
  java/lightBulb/pom.xml
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

added metrics to lbm and dbi
  .circleci/continue_config.yml
  java/dbImporter/Dockerfile
  java/dbImporter/pom.xml
  java/lightBulb/pom.xml
  java/lightBulbMonitor/Dockerfile
  java/lightBulbMonitor/pom.xml
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

fixed metrics
  java/dbImporter/Dockerfile
  java/lightBulbMonitor/Dockerfile
Due: param-build-db-importer, param-build-light-bulb-monitor

added runtime metrics for apps
  helm/templates/db-importer.yaml
  helm/templates/light-bulb-monitor.yaml
  helm/templates/light-bulb.yaml
  helm/templates/prometheus.yaml
  java/dbImporter/pom.xml
  java/dbImporter/src/main/java/dbImporter/DBImporter.java
  java/lightBulb/pom.xml
  java/lightBulb/src/main/java/lightBulb/LightBulbController.java
  java/lightBulbMonitor/pom.xml
  java/lightBulbMonitor/src/main/java/lightBulbMonitor/LightBulbMonitor.java
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

temp removed tests
  java/lightBulb/src/test/java/lightBulb/LightBulbControllerTest.java
  java/lightBulbMonitor/src/test/java/lightBulbMonitor/LightBulbMonitorTest.java
Due: param-build-light-bulb, param-build-light-bulb-monitor

refactor metrics server
  helm/templates/db-importer.yaml
  helm/templates/light-bulb-monitor.yaml
  helm/templates/light-bulb.yaml
  helm/templates/prometheus.yaml
  java/dbImporter/src/main/java/dbImporter/DBImporter.java
Due: param-build-db-importer

refactor metrics server
  java/dbImporter/src/main/java/dbImporter/DBImporter.java
Due: param-build-db-importer

refactor metrics
  java/dbImporter/pom.xml
  java/dbImporter/src/main/java/dbImporter/DBImporter.java
Due: param-build-db-importer

metrics
  java/dbImporter/src/main/java/dbImporter/DBImporter.java
Due: param-build-db-importer

refactor to static class
  java/dbImporter/src/main/java/dbImporter/DBImporter.java
  java/dbImporter/src/test/java/dbImporter/DBImporterTest.java
Due: param-build-db-importer

made threadable
  java/dbImporter/src/main/java/dbImporter/DBImporter.java
Due: param-build-db-importer

trying to fix threading
  java/dbImporter/src/main/java/dbImporter/DBImporter.java
Due: param-build-db-importer

trying something...
  java/dbImporter/src/main/java/dbImporter/DBImporter.java
Due: param-build-db-importer

tests and refactor
  java/dbImporter/src/main/java/dbImporter/DBImporter.java
  java/dbImporter/src/test/java/dbImporter/DBImporterTest.java
  scripts/deploy/metrics
  scripts/deploy/metrics.1
  scripts/deploy/metrics.2
  scripts/deploy/metrics.3
  scripts/deploy/metrics.4
  scripts/deploy/metrics.5
  scripts/deploy/metrics.6
  scripts/deploy/metrics.7
Due: param-build-db-importer

tests refactor
  java/dbImporter/src/main/java/dbImporter/DBImporter.java
  scripts/deploy/metrics
  scripts/deploy/metrics.1
  scripts/deploy/metrics.2
  scripts/deploy/metrics.3
  scripts/deploy/metrics.4
  scripts/deploy/metrics.5
  scripts/deploy/metrics.6
  scripts/deploy/metrics.7
Due: param-build-db-importer

edit test, add helper method
  java/dbImporter/src/test/java/dbImporter/DBImporterTest.java
Due: param-build-db-importer

edit test, removed helper method
  java/dbImporter/src/test/java/dbImporter/DBImporterTest.java
Due: param-build-db-importer

edit port
  helm/templates/db-importer.yaml
  java/dbImporter/src/main/java/dbImporter/DBImporter.java
Due: param-build-db-importer

edit repo config
  .circleci/continue_config.yml
  helm/templates/db-importer.yaml
  helm/templates/light-bulb-monitor.yaml
  helm/templates/light-bulb.yaml
  helm/values.yaml
  scripts/circleci-configuration/circle-env.sh
  scripts/circleci-configuration/create-circle-context.sh
  scripts/environment-setup/create-docker-secret.sh
  scripts/environment-setup/dashboard-access.yaml
  scripts/environment-setup/microk8s.sh
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

ci scripts
  scripts/circleci-configuration/create-circle-context.sh
Due: none

space
  java/dbImporter/Dockerfile
  java/lightBulb/Dockerfile
  java/lightBulbMonitor/Dockerfile
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

fix repo
  scripts/circleci-configuration/circle-env.sh
  scripts/circleci-configuration/create-circle-context.sh
Due: none

fix repo
  java/dbImporter/Dockerfile
  java/lightBulb/Dockerfile
  java/lightBulbMonitor/Dockerfile
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

Path conditions:
  param-build-db-importer: (any of: java/dbImporter/.*) or (any of: .circleci/.*)
  param-build-light-bulb: (any of: java/lightBulb/.*) or (any of: .circleci/.*)
  param-build-light-bulb-monitor: (any of: java/lightBulbMonitor/.*) or (any of: .circleci/.*)
