Repository ja-m3s/smart-home-assistant: changes, and which CircleCI parameters are due for each by the changed paths.
All: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

.circleci/config.yml:

# Name: config.yml
# Description: Pipeline for circleci. Based on the path of changes files programatically builds applications
# If an app is changed, it is rebuilt
# If the pipeline its self is changed, all apps are rebuilt
# Continues in continue_config.yml
# Author: ja-m3s
version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@1.0.0
workflows:
  setup: 
    jobs:
      - path-filtering/filter:
          mapping: |
            java/sharedUtils/.* param-build-shared-utils true
            java/sharedUtils/.* param-build-db-importer true
            java/sharedUtils/.* param-build-light-bulb true
            java/sharedUtils/.* param-build-light-bulb-monitor true
            java/sharedUtils/.* param-build-remote true
            java/dbImporter/.* param-build-db-importer true
            java/lightBulb/.* param-build-light-bulb true
            java/lightBulbMonitor/.* param-build-light-bulb-monitor true
            java/remote/.* param-build-remote true
            .circleci/.* param-build-shared-utils true
            .circleci/.* param-build-db-importer true
            .circleci/.* param-build-light-bulb true
            .circleci/.* param-build-light-bulb-monitor true
            .circleci/.* param-build-remote true

editted main
  java/remote/src/main/java/com/jam3s/remote/MainView.java
  java/remote/src/main/java/com/jam3s/remote/RemoteApplication.java
Due: param-build-remote

edits
  java/remote/build.gradle
  java/remote/src/main/java/com/jam3s/remote/MainView.java
  java/remote/src/main/java/com/jam3s/remote/RemoteApplication.java
Due: param-build-remote

edits
  java/remote/src/main/java/com/jam3s/remote/MainView.java
Due: param-build-remote

edit view
  java/remote/src/main/java/com/jam3s/remote/MainView.java
Due: param-build-remote

edit lb
  java/lightBulb/src/main/java/com/jam3s/lightbulb/LightBulbController.java
Due: param-build-light-bulb

added metrics for lightBulb
  docs/lightBulb-metrics.zip
Due: none

added remote functionality
  java/lightBulb/src/main/java/com/jam3s/lightbulb/LightBulbController.java
  java/remote/src/main/java/com/jam3s/remote/MainView.java
Due: param-build-light-bulb, param-build-remote

added remote functionality
  java/lightBulb/src/main/java/com/jam3s/lightbulb/LightBulbController.java
Due: param-build-light-bulb

edit comment
  java/remote/src/main/java/com/jam3s/remote/MainView.java
Due: param-build-remote

edit if
  java/lightBulb/src/main/java/com/jam3s/lightbulb/LightBulbController.java
Due: param-build-light-bulb

edit values
  helm/values.yaml
Due: none

fix time issue
  java/lightBulb/src/main/java/com/jam3s/lightbulb/LightBulbController.java
Due: param-build-light-bulb

edit to make the light bulb list refresh on timer
  java/remote/src/main/java/com/jam3s/remote/MainView.java
Due: param-build-remote

edit MainView.java
  java/remote/src/main/java/com/jam3s/remote/MainView.java
Due: param-build-remote

refactor FE
  java/remote/src/main/java/com/jam3s/remote/MainView.java
Due: param-build-remote

refactors
  java/remote/src/main/java/com/jam3s/remote/MainView.java
Due: param-build-remote

fix?
  java/remote/src/main/java/com/jam3s/remote/MainView.java
Due: param-build-remote

made handle runnable
  java/remote/src/main/java/com/jam3s/remote/MainView.java
Due: param-build-remote

readded in button to refresh
  java/remote/src/main/java/com/jam3s/remote/MainView.java
Due: param-build-remote

readded in labels to refresh
  java/remote/src/main/java/com/jam3s/remote/MainView.java
Due: param-build-remote

fixed layout
  java/remote/src/main/java/com/jam3s/remote/MainView.java
Due: param-build-remote

fixed limit on light to 60s
  helm/values.yaml
Due: none

Update README.md
  README.md
Due: none

Update .gitignore
  .gitignore
Due: none

Delete java/remote/.gitignore
  java/remote/.gitignore
Due: param-build-remote

refactor pipeline
  .circleci/continue_config.yml
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

added docs/sharedUtils-metrics.zip
  docs/sharedUtils-metrics.zip
Due: none

added docs/dbImporter-metrics.zip
  docs/dbImporter-metrics.zip
Due: none

added docs/lightBulb-metrics.zip
  docs/lightBulb-metrics.zip
Due: none

added docs/lightBulbMonitor-metrics.zip
  docs/lightBulbMonitor-metrics.zip
Due: none

initial migration to gradle for sharedutils
  java/remote/Dockerfile
  java/sharedUtils/Dockerfile
  java/sharedUtils/build.gradle
  java/sharedUtils/config/checkstyle/checkstyle.xml
  java/sharedUtils/gradle/libs.versions.toml
  java/sharedUtils/gradle/wrapper/gradle-wrapper.jar
  java/sharedUtils/gradle/wrapper/gradle-wrapper.properties
  java/sharedUtils/gradlew
  java/sharedUtils/gradlew.bat
  java/sharedUtils/settings.gradle
  java/sharedUtils/src/main/java/com/jam3s/sharedutils/SharedUtils.java
  java/sharedUtils/src/test/java/com/jam3s/sharedutils/SharedUtilsTest.java
  java/sharedUtils/src/test/java/com/jam3s/sharedutils/package-info.java
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

initial migration to gradle for sharedutils
  java/remote/Dockerfile
  java/sharedUtils/Dockerfile
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote
