Repository ja-m3s/smart-home-assistant: changes, and which CircleCI parameters are due for each by the changed paths.
All: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Update README.md
  README.md
Due: none

corrected timeout clause
  scripts/deploy/helm-apply-microk8s.sh
  scripts/deploy/helm-apply.sh
  scripts/deploy/helm-delete-microk8s.sh
  scripts/deploy/helm-delete.sh
  scripts/deploy/helm-upgrade-microk8s.sh
  scripts/deploy/helm-upgrade.sh
Due: none

edit logs
  java/lightBulb/src/main/java/com/jam3s/lightbulb/LightBulbController.java
Due: param-build-light-bulb

extra logging
  java/dbImporter/src/main/java/com/jam3s/dbimporter/DBImporter.java
Due: param-build-db-importer

extra logging - remove tab
  java/dbImporter/src/main/java/com/jam3s/dbimporter/DBImporter.java
Due: param-build-db-importer

fixed db
  java/dbImporter/build.gradle
Due: param-build-db-importer

ssl
  java/dbImporter/src/main/java/com/jam3s/dbimporter/DBImporter.java
Due: param-build-db-importer

disable ssl on db
  helm/charts/cockroachdb/values.yaml
  java/dbImporter/src/main/java/com/jam3s/dbimporter/DBImporter.java
Due: param-build-db-importer

ssl
  helm/charts/cockroachdb/values.yaml
  java/dbImporter/src/main/java/com/jam3s/dbimporter/DBImporter.java
  scripts/admin/database-admin-console.sh
Due: param-build-db-importer

ssl
  helm/templates/db-importer.yaml
  java/dbImporter/src/main/java/com/jam3s/dbimporter/DBImporter.java
Due: param-build-db-importer

fixed yaml
  helm/templates/db-importer.yaml
Due: none

fix yaml
  helm/templates/db-importer.yaml
Due: none

yaml
  helm/charts/cockroachdb/values.yaml
  helm/templates/db-importer.yaml
  scripts/deploy/pods-microk8s.sh
Due: none

yaml fix
  helm/templates/db-importer.yaml
Due: none

edit path
  helm/templates/db-importer.yaml
Due: none

ssl
  helm/templates/db-importer.yaml
  java/dbImporter/src/main/java/com/jam3s/dbimporter/DBImporter.java
  scripts/admin/database-admin-console.sh
Due: param-build-db-importer

edit ds
  java/dbImporter/Dockerfile
  java/dbImporter/src/main/java/com/jam3s/dbimporter/DBImporter.java
Due: param-build-db-importer

edit ds
  java/dbImporter/src/main/java/com/jam3s/dbimporter/DBImporter.java
Due: param-build-db-importer

fix style
  java/dbImporter/src/main/java/com/jam3s/dbimporter/DBImporter.java
Due: param-build-db-importer

edit ssl param
  helm/values.yaml
  java/dbImporter/src/main/java/com/jam3s/dbimporter/DBImporter.java
Due: param-build-db-importer

fix checkstyles
  java/remote/src/main/java/com/jam3s/remote/MainView.java
  java/remote/src/main/java/com/jam3s/remote/RemoteApplication.java
Due: param-build-remote

postgres version
  java/dbImporter/build.gradle
Due: param-build-db-importer

paths
  java/dbImporter/src/main/java/com/jam3s/dbimporter/DBImporter.java
Due: param-build-db-importer

disable ssl
  java/dbImporter/src/main/java/com/jam3s/dbimporter/DBImporter.java
Due: param-build-db-importer

Path conditions:
  param-build-shared-utils: (any of: java/sharedUtils/.*) or (any of: .circleci/.*)
  param-build-db-importer: ((any of: java/sharedUtils/.*) or (any of: java/dbImporter/.*)) or (any of: .circleci/.*)
  param-build-light-bulb: ((any of: java/sharedUtils/.*) or (any of: java/lightBulb/.*)) or (any of: .circleci/.*)
  param-build-light-bulb-monitor: ((any of: java/sharedUtils/.*) or (any of: java/lightBulbMonitor/.*)) or (any of: .circleci/.*)
  param-build-remote: ((any of: java/sharedUtils/.*) or (any of: java/remote/.*)) or (any of: .circleci/.*)
