Repository ja-m3s/smart-home-assistant: changes, and which CircleCI parameters are due for each by the changed paths.
All: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

initial migration to gradle for sharedutils
  .circleci/continue_config.yml
  java/remote/Dockerfile
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

fixing build
  java/remote/Dockerfile
  java/sharedUtils/Dockerfile
  java/sharedUtils/build.gradle
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

fixed build
  java/remote/build.gradle
Due: param-build-remote

docker images for sharedutils gradle change
  java/dbImporter/Dockerfile
  java/lightBulb/Dockerfile
  java/lightBulbMonitor/Dockerfile
  java/sharedUtils/pom.xml
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

light bulb monitor to gradle
  java/sharedUtils/Dockerfile
  java/sharedUtils/build.gradle
  java/sharedUtils/settings.gradle
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

light bulb monitor gradle
  java/lightBulbMonitor/Dockerfile
  java/lightBulbMonitor/build.gradle
  java/lightBulbMonitor/config/checkstyle/checkstyle.xml
  java/lightBulbMonitor/gradlew
  java/lightBulbMonitor/gradlew.bat
  java/lightBulbMonitor/settings.gradle
Due: param-build-light-bulb-monitor

light bulb monitor gradle
  java/lightBulbMonitor/build.gradle
  java/sharedUtils/build.gradle
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

gradle changes
  java/lightBulbMonitor/build.gradle
  java/sharedUtils/build.gradle
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

edits for gradle
  java/lightBulbMonitor/build.gradle
Due: param-build-light-bulb-monitor

fixes
  java/lightBulbMonitor/settings.gradle
  java/lightBulbMonitor/src/main/java/com/jam3s/lightbulbmonitor/LightBulbMonitor.java
  java/lightBulbMonitor/src/main/java/com/jam3s/lightbulbmonitor/package-info.java
  java/lightBulbMonitor/src/test/java/com/jam3s/lightbulbmonitor/LightBulbMonitorTest.java
  java/lightBulbMonitor/src/test/java/com/jam3s/lightbulbmonitor/package-info.java
  java/lightBulbMonitor/tmp/build.gradle
  java/lightBulbMonitor/tmp/settings.gradle
  java/sharedUtils/settings.gradle
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

fixes checkstyle
  java/lightBulbMonitor/src/main/java/com/jam3s/lightbulbmonitor/LightBulbMonitor.java
  java/lightBulbMonitor/src/main/java/com/jam3s/lightbulbmonitor/package-info.java
  java/lightBulbMonitor/src/test/java/com/jam3s/lightbulbmonitor/LightBulbMonitorTest.java
Due: param-build-light-bulb-monitor

fix lbm
  .circleci/continue_config.yml
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

fix lbm
  java/lightBulbMonitor/Dockerfile
  java/lightBulbMonitor/build.gradle
Due: param-build-light-bulb-monitor

fix lbm
  java/lightBulbMonitor/build.gradle
Due: param-build-light-bulb-monitor

fix lbm
  java/lightBulbMonitor/Dockerfile
Due: param-build-light-bulb-monitor

tidy up
  java/lightBulbMonitor/build.gradle
Due: param-build-light-bulb-monitor

edits
  java/lightBulbMonitor/Dockerfile
  java/lightBulbMonitor/build.gradle
Due: param-build-light-bulb-monitor

edits
  java/lightBulbMonitor/src/test/java/com/jam3s/lightbulbmonitor/LightBulbMonitorTest.java
Due: param-build-light-bulb-monitor

edits
  java/remote/Dockerfile
  java/remote/build.gradle
  java/remote/gradle/wrapper/gradle-wrapper.jar
  java/remote/gradle/wrapper/gradle-wrapper.properties
  java/remote/gradlew
  java/remote/gradlew.bat
  java/sharedUtils/Dockerfile
  java/sharedUtils/gradle/libs.versions.toml
  java/sharedUtils/gradle/wrapper/gradle-wrapper.jar
  java/sharedUtils/gradle/wrapper/gradle-wrapper.properties
  java/sharedUtils/gradlew
  java/sharedUtils/gradlew.bat
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

edits
  java/sharedUtils/build.gradle
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

edits
  java/lightBulbMonitor/gradle/wrapper/gradle-wrapper.jar
  java/lightBulbMonitor/gradle/wrapper/gradle-wrapper.properties
  java/lightBulbMonitor/gradlew
  java/lightBulbMonitor/gradlew.bat
  java/remote/gradle/wrapper/gradle-wrapper.jar
  java/remote/gradle/wrapper/gradle-wrapper.properties
  java/remote/gradlew
  java/remote/gradlew.bat
  java/sharedUtils/gradle/wrapper/gradle-wrapper.jar
  java/sharedUtils/gradle/wrapper/gradle-wrapper.properties
  java/sharedUtils/gradlew
  java/sharedUtils/gradlew.bat
  java/sharedUtils/src/test/java/com/jam3s/sharedutils/SharedUtilsTest.java
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

edits
  java/sharedUtils/src/test/java/com/jam3s/sharedutils/SharedUtilsTest.java
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Refactor to use gradle
  java/dbImporter/Dockerfile
  java/dbImporter/build.gradle
  java/dbImporter/config/checkstyle/checkstyle.xml
  java/dbImporter/pom.xml
  java/dbImporter/settings.gradle
  java/lightBulb/Dockerfile
  java/lightBulb/build.gradle
  java/lightBulb/config/checkstyle/checkstyle.xml
  java/lightBulb/pom.xml
  java/lightBulb/settings.gradle
Due: param-build-db-importer, param-build-light-bulb

Refactor to use gradle - fixing tests
  java/lightBulb/src/test/java/com/jam3s/lightbulb/LightBulbControllerTest.java
  java/lightBulb/src/test/java/com/jam3s/lightbulb/LightBulbTest.java
Due: param-build-light-bulb

Refactor to use gradle - fixing tests
  java/dbImporter/src/test/java/com/jam3s/dbimporter/package-info.java
  java/lightBulb/src/test/java/com/jam3s/lightbulb/LightBulbControllerTest.java
  java/lightBulb/src/test/java/com/jam3s/lightbulb/LightBulbTest.java
  java/lightBulb/src/test/java/com/jam3s/lightbulb/package-info.java
Due: param-build-db-importer, param-build-light-bulb

Refactor to use gradle - fixing styles
  java/lightBulb/src/main/java/com/jam3s/lightbulb/LightBulbController.java
  java/lightBulb/src/test/java/com/jam3s/lightbulb/LightBulbTest.java
Due: param-build-light-bulb

Refactor to use gradle - fixing styles
  java/lightBulb/src/main/java/com/jam3s/lightbulb/LightBulbController.java
  java/lightBulb/src/test/java/com/jam3s/lightbulb/LightBulbControllerTest.java
Due: param-build-light-bulb

Path conditions:
  param-build-shared-utils: (any of: java/sharedUtils/.*) or (any of: .circleci/.*)
  param-build-db-importer: ((any of: java/sharedUtils/.*) or (any of: java/dbImporter/.*)) or (any of: .circleci/.*)
  param-build-light-bulb: ((any of: java/sharedUtils/.*) or (any of: java/lightBulb/.*)) or (any of: .circleci/.*)
  param-build-light-bulb-monitor: ((any of: java/sharedUtils/.*) or (any of: java/lightBulbMonitor/.*)) or (any of: .circleci/.*)
  param-build-remote: ((any of: java/sharedUtils/.*) or (any of: java/remote/.*)) or (any of: .circleci/.*)
