Repository ja-m3s/smart-home-assistant: changes, and which CircleCI parameters are due for each by the changed paths.
All: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Pipeline refactor.
  .circleci/continue_config.yml
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

added metrics-dbImporter.zip
  docs/metrics-dbImporter.zip
Due: none

added metrics-lightBulbMonitor.zip
  docs/metrics-lightBulbMonitor.zip
Due: none

added metrics-lightBulb.zip
  docs/metrics-lightBulb.zip
Due: none

Pipeline refactor.
  docs/dbImporter-metrics.zip
  docs/lightBulb-metrics.zip
  docs/lightBulbMonitor-metrics.zip
  docs/metrics-dbImporter.zip
  docs/metrics-lightBulb.zip
  docs/metrics-lightBulbMonitor.zip
  docs/metrics.zip
Due: none

Pipeline refactor.
  java/dbImporter/Dockerfile
  java/lightBulb/Dockerfile
  java/lightBulbMonitor/Dockerfile
  java/remote/Dockerfile
  java/sharedUtils/Dockerfile
  scripts/build/build-images.sh
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Pipeline refactor.
  java/dbImporter/Dockerfile
Due: param-build-db-importer

Pipeline refactor.
  java/lightBulb/Dockerfile
  java/lightBulbMonitor/Dockerfile
  java/remote/Dockerfile
Due: param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Pipeline refactor.
  java/lightBulbMonitor/Dockerfile
Due: param-build-light-bulb-monitor

Pipeline refactor.
  java/buildSrc/src/main/groovy/myproject.java-conventions.gradle
  java/dbImporter/build.gradle
  java/lightBulb/build.gradle
  java/lightBulbMonitor/build.gradle
  java/sharedUtils/build.gradle
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Pipeline refactor.
  java/remote/src/main/java/com/jam3s/remote/MainView.java
  java/remote/src/main/java/com/jam3s/remote/RemoteApplication.java
Due: param-build-remote

Pipeline refactor.
  java/remote/build.gradle
  java/remote/src/main/java/com/jam3s/remote/MainView.java
  java/remote/src/main/java/com/jam3s/remote/RemoteApplication.java
  java/remote/src/test/java/com/jam3s/remote/RemoteApplicationTests.java
Due: param-build-remote

Pipeline refactor.
  java/remote/Dockerfile
Due: param-build-remote

Pipeline refactor.
  java/remote/frontend/generated/vaadin.ts
  java/remote/src/main/java/com/jam3s/remote/MainView.java
  java/remote/src/main/java/com/jam3s/remote/RemoteApplication.java
Due: param-build-remote

Pipeline refactor.
  java/remote/frontend/generated/flow/generated-flow-imports.d.ts
  java/remote/frontend/generated/flow/generated-flow-imports.js
  java/remote/frontend/generated/index.ts
Due: param-build-remote

Update Docs
  README.md
  docs/db-importer.md
  docs/light-bulb-monitor.md
  docs/light-bulb.md
  docs/remote.md
  docs/sharedUtils-metrics.zip
  docs/sharedUtils.md
Due: none

refactored README, refactored test package names
  README.md
  docs/db-importer.md
  docs/light-bulb-monitor.md
  docs/light-bulb.md
  docs/remote.md
  docs/sharedUtils.md
  java/lightBulb/src/test/java/com/jam3s/lightbulbtest/LightBulbControllerTest.java
  java/lightBulb/src/test/java/com/jam3s/lightbulbtest/LightBulbTest.java
  java/lightBulb/src/test/java/com/jam3s/lightbulbtest/package-info.java
  java/lightBulbMonitor/src/test/java/com/jam3s/lightbulbmonitortest/LightBulbMonitorTest.java
  java/lightBulbMonitor/src/test/java/com/jam3s/lightbulbmonitortest/package-info.java
  java/remote/src/test/java/com/jam3s/remotetest/RemoteApplicationTests.java
  java/remote/src/test/java/com/jam3s/remotetest/package-info.java
  java/sharedUtils/src/test/java/com/jam3s/sharedutils/package-info.java
  java/sharedUtils/src/test/java/com/jam3s/sharedutilstest/SharedUtilsTest.java
  java/sharedUtils/src/test/java/com/jam3s/sharedutilstest/package-info.java
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Update README.md
  README.md
Due: none

added remote scripts, added timeout to scripts
  README.md
  scripts/deploy/helm-apply-microk8s.sh
  scripts/deploy/helm-delete-microk8s.sh
  scripts/deploy/helm-delete.sh
  scripts/deploy/helm-upgrade-microk8s.sh
Due: none

rename for consistency
  docs/shared-utils.md
Due: none

Update cockroach-db-secure-client.md
  docs/cockroach-db-secure-client.md
Due: none

Update cockroach-db.md
  docs/cockroach-db.md
Due: none

Update db-importer.md
  docs/db-importer.md
Due: none

Update grafana.md
  docs/grafana.md
Due: none

Update light-bulb-monitor.md
  docs/light-bulb-monitor.md
Due: none

Update light-bulb.md
  docs/light-bulb.md
Due: none

Update prometheus.md
  docs/prometheus.md
Due: none

Update rabbitmq.md
  docs/rabbitmq.md
Due: none

Update shared-utils.md
  docs/shared-utils.md
Due: none

Update config.yml
  .circleci/config.yml
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Path conditions:
  param-build-shared-utils: (any of: java/sharedUtils/.*) or (any of: .circleci/.*)
  param-build-db-importer: ((any of: java/sharedUtils/.*) or (any of: java/dbImporter/.*)) or (any of: .circleci/.*)
  param-build-light-bulb: ((any of: java/sharedUtils/.*) or (any of: java/lightBulb/.*)) or (any of: .circleci/.*)
  param-build-light-bulb-monitor: ((any of: java/sharedUtils/.*) or (any of: java/lightBulbMonitor/.*)) or (any of: .circleci/.*)
  param-build-remote: ((any of: java/sharedUtils/.*) or (any of: java/remote/.*)) or (any of: .circleci/.*)
