Repository ja-m3s/smart-home-assistant: changes, and which CircleCI parameters are due for each by the changed paths.
All: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

added docs/sharedUtils-metrics.zip
  docs/sharedUtils-metrics.zip
Due: none

added docs/dbImporter-metrics.zip
  docs/dbImporter-metrics.zip
Due: none

added docs/lightBulbMonitor-metrics.zip
  docs/lightBulbMonitor-metrics.zip
Due: none

added docs/lightBulb-metrics.zip
  docs/lightBulb-metrics.zip
Due: none

Readded in check
  java/dbImporter/Dockerfile
  java/lightBulb/Dockerfile
  java/lightBulbMonitor/Dockerfile
  java/remote/Dockerfile
  java/sharedUtils/Dockerfile
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Readded in check
  java/sharedUtils/Dockerfile
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Readded in check
  java/lightBulb/src/main/java/com/jam3s/lightbulb/LightBulbController.java
  java/lightBulbMonitor/src/test/java/com/jam3s/lightbulbmonitor/LightBulbMonitorTest.java
Due: param-build-light-bulb, param-build-light-bulb-monitor

Readded in check
  java/lightBulb/src/main/java/com/jam3s/lightbulb/LightBulbController.java
Due: param-build-light-bulb

Readded in check
  java/buildSrc/src/main/groovy/myproject.java-conventions.gradle
  java/dbImporter/build.gradle
  java/lightBulb/build.gradle
  java/lightBulbMonitor/build.gradle
  java/remote/build.gradle
  java/sharedUtils/build.gradle
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Readded in check
  java/buildSrc/src/main/groovy/myproject.java-conventions.gradle
Due: none

Readded in check
  java/sharedUtils/src/main/java/com/jam3s/sharedutils/SharedUtils.java
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Readded in check
  java/buildSrc/build.gradle
  java/sharedUtils/src/main/java/com/jam3s/sharedutils/SharedUtils.java
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Readded in check
  java/buildSrc/build.gradle
  java/sharedUtils/build.gradle
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Readded in check
  java/sharedUtils/build.gradle
Due: param-build-shared-utils, param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor, param-build-remote

Removing unneeded dependencies
  java/remote/build.gradle
Due: param-build-remote

Checkstyle
  java/remote/src/main/java/com/jam3s/remote/MainView.java
  java/remote/src/main/java/com/jam3s/remote/RemoteApplication.java
  java/remote/src/main/java/com/jam3s/remote/ServletInitializer.java
  java/remote/src/main/java/com/jam3s/remote/package-info.java
Due: param-build-remote

Checkstyle
  java/remote/src/test/java/com/jam3s/remote/RemoteApplicationTests.java
  java/remote/src/test/java/com/jam3s/remote/package-info.java
Due: param-build-remote

Checkstyle
  java/remote/src/main/java/com/jam3s/remote/package-info.java
Due: param-build-remote

Checkstyle
  java/remote/src/main/java/com/jam3s/remote/RemoteApplication.java
Due: param-build-remote

Path conditions:
  param-build-shared-utils: (any of: java/sharedUtils/.*) or (any of: .circleci/.*)
  param-build-db-importer: ((any of: java/sharedUtils/.*) or (any of: java/dbImporter/.*)) or (any of: .circleci/.*)
  param-build-light-bulb: ((any of: java/sharedUtils/.*) or (any of: java/lightBulb/.*)) or (any of: .circleci/.*)
  param-build-light-bulb-monitor: ((any of: java/sharedUtils/.*) or (any of: java/lightBulbMonitor/.*)) or (any of: .circleci/.*)
  param-build-remote: ((any of: java/sharedUtils/.*) or (any of: java/remote/.*)) or (any of: .circleci/.*)
