Repository ja-m3s/smart-home-assistant: changes, and which CircleCI parameters are due for each by the changed paths.
All: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

Update 5-test-database.md
  test-plans/5-test-database.md
Due: none

Update 6-test-prometheus.md
  test-plans/6-test-prometheus.md
Due: none

Update 7-test-grafana.md
  test-plans/7-test-grafana.md
Due: none

Update 8-test-secure-client.md
  test-plans/8-test-secure-client.md
Due: none

Update 1-test-pre-requisites.md
  test-plans/1-test-pre-requisites.md
Due: none

Update 2-test-lightbulb.md
  test-plans/2-test-lightbulb.md
Due: none

Update 3-test-light-bulb-monitor.md
  test-plans/3-test-light-bulb-monitor.md
Due: none

Update 4-test-db-importer.md
  test-plans/4-test-db-importer.md
Due: none

Update README.md
  README.md
Due: none

set prod images to alpine
  java/dbImporter/Dockerfile
  java/lightBulb/Dockerfile
  java/lightBulbMonitor/Dockerfile
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

set prod images to alpine
  java/lightBulb/Dockerfile
Due: param-build-light-bulb

refactored scripts
  scripts/build/build-images-manual.sh
  scripts/circleci-configuration/circle-env.sh
  scripts/circleci-configuration/create-circle-context.sh
  scripts/circleci-configuration/teardown-circle-context.sh
  scripts/development-environment-setup/create-docker-secret.sh
  scripts/development-environment-setup/dashboard-access.yaml
  scripts/development-environment-setup/dns-checker.yaml
  scripts/development-environment-setup/microk8s.sh
  scripts/manual-build-deploy/helm-delete.sh
  scripts/manual-build-deploy/helm-deploy.sh
  scripts/manual-build-deploy/helm-upgrade.sh
  scripts/manual-build-deploy/redeploy-apps-to-k8s.sh
Due: none

refactored scripts
  scripts/build/build-images.sh
Due: none

refactored scripts
  .gitignore
  java/dbImporter/.classpath
  java/dbImporter/.project
  java/lightBulb/.classpath
  java/lightBulb/.project
  java/lightBulbMonitor/.classpath
  java/lightBulbMonitor/.project
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

refactored java
  java/lightBulb/src/main/java/lightBulb/LightBulbController.java
Due: param-build-light-bulb

refactored circleci
  .circleci/continue_config.yml
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

refactor
  .circleci/continue_config.yml
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

added comments
  .circleci/config.yml
  .circleci/continue_config.yml
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

added junk directory to zip
  .circleci/continue_config.yml
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

Path conditions:
  param-build-db-importer: (any of: java/dbImporter/.*) or (any of: .circleci/.*)
  param-build-light-bulb: (any of: java/lightBulb/.*) or (any of: .circleci/.*)
  param-build-light-bulb-monitor: (any of: java/lightBulbMonitor/.*) or (any of: .circleci/.*)
