Repository ja-m3s/smart-home-assistant: changes, and which CircleCI parameters are due for each by the changed paths.
All: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

refactoring
  helm/templates/light-bulb-monitor.yaml
  helm/templates/light-bulb.yaml
  java/dbImporter/pom.xml
  java/dbImporter/src/main/java/dbImporter/DBImporter.java
  java/lightBulb/pom.xml
  java/lightBulb/src/main/java/lightBulb/LightBulbController.java
  java/lightBulb/src/test/java/lightBulb/LightBulbControllerTest.java
  java/lightBulb/src/test/java/lightBulb/LightBulbMonitorTest.java
  java/lightBulbMonitor/pom.xml
  java/lightBulbMonitor/src/main/java/lightBulbMonitor/LightBulbMonitor.java
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

fixed metric
  java/lightBulb/src/main/java/lightBulb/LightBulbController.java
Due: param-build-light-bulb

fixed deploy scripts
  scripts/deploy/helm-deploy.sh
  scripts/deploy/helm-upgrade.sh
Due: none

edits to metrics
  java/lightBulbMonitor/src/main/java/lightBulbMonitor/LightBulbMonitor.java
Due: param-build-light-bulb-monitor

linting/refactor
  java/dbImporter/src/main/java/dbImporter/DBImporter.java
  java/dbImporter/src/test/java/dbImporter/DBImporterTest.java
  java/lightBulb/src/main/java/lightBulb/LightBulbController.java
  java/lightBulb/src/test/java/lightBulb/LightBulbMonitorTest.java
  java/lightBulbMonitor/src/main/java/lightBulbMonitor/LightBulbMonitor.java
  java/lightBulbMonitor/src/test/java/lightBulbMonitor/LightBulbMonitorTest.java
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

upgraded java
  java/dbImporter/pom.xml
  java/lightBulb/pom.xml
  java/lightBulb/src/main/java/lightBulb/LightBulbController.java
  java/lightBulbMonitor/pom.xml
  java/lightBulbMonitor/src/main/java/lightBulbMonitor/LightBulbMonitor.java
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

upgraded java
  java/lightBulbMonitor/pom.xml
Due: param-build-light-bulb-monitor

db fix
  java/dbImporter/src/main/java/dbImporter/DBImporter.java
Due: param-build-db-importer

added app dashboard
  helm/raw-files/grafana/apps.json
Due: none

readme
  README.md
Due: none

added checkstyle, javadocs, lightbulb verbosity turned down for off messages
  java/dbImporter/pom.xml
  java/dbImporter/src/main/java/dbImporter/DBImporter.java
  java/dbImporter/src/test/java/dbImporter/DBImporterTest.java
  java/lightBulb/pom.xml
  java/lightBulb/src/main/java/lightBulb/LightBulb.java
  java/lightBulb/src/main/java/lightBulb/LightBulbController.java
  java/lightBulb/src/test/java/lightBulb/LightBulbMonitorTest.java
  java/lightBulb/src/test/java/lightBulb/LightBulbTest.java
  java/lightBulbMonitor/pom.xml
  java/lightBulbMonitor/src/main/java/lightBulbMonitor/LightBulbMonitor.java
  java/lightBulbMonitor/src/test/java/lightBulbMonitor/LightBulbMonitorTest.java
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

initial groundwork for migrating shared code to standalone package
  .circleci/continue_config.yml
  java/dbImporter/Dockerfile
  java/lightBulb/Dockerfile
  java/lightBulbMonitor/Dockerfile
  java/sharedUtils/pom.xml
  java/sharedUtils/src/main/java/sharedUtils/SharedUtils.java
  java/sharedUtils/src/test/java/sharedUtils/SharedUtilsTest.java
  scripts/build/build-images.sh
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

fixed metrics zip path
  .circleci/continue_config.yml
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

refactored rabbitmq connection method out of lightbulb
  helm/templates/rabbitmq.yaml
  helm/values.yaml
  java/lightBulb/src/main/java/lightBulb/LightBulbController.java
  java/sharedUtils/src/main/java/sharedUtils/SharedUtils.java
Due: param-build-light-bulb

substanticial refactoring of methods into shared package
  java/dbImporter/src/main/java/dbImporter/DBImporter.java
  java/dbImporter/src/test/java/dbImporter/DBImporterTest.java
  java/lightBulb/src/main/java/lightBulb/LightBulb.java
  java/lightBulb/src/main/java/lightBulb/LightBulbController.java
  java/lightBulb/src/test/java/lightBulb/LightBulbMonitorTest.java
  java/lightBulbMonitor/src/main/java/lightBulbMonitor/LightBulbMonitor.java
  java/lightBulbMonitor/src/test/java/lightBulbMonitor/LightBulbMonitorTest.java
  java/sharedUtils/src/main/java/sharedUtils/SharedUtils.java
  java/sharedUtils/src/test/java/sharedUtils/SharedUtilsTest.java
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

fixed tests
  java/lightBulb/src/test/java/lightBulb/LightBulbTest.java
Due: param-build-light-bulb

fixed tests
  java/lightBulb/src/main/java/lightBulb/LightBulb.java
  java/lightBulb/src/test/java/lightBulb/LightBulbControllerTest.java
Due: param-build-light-bulb

fixed tests
  java/lightBulb/src/main/java/lightBulb/LightBulb.java
Due: param-build-light-bulb

added sl4j logging
  java/dbImporter/src/main/java/dbImporter/DBImporter.java
  java/lightBulb/src/main/java/lightBulb/LightBulbController.java
  java/lightBulbMonitor/src/main/java/lightBulbMonitor/LightBulbMonitor.java
  java/sharedUtils/src/main/java/sharedUtils/SharedUtils.java
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

linting and log fixes
  java/dbImporter/src/main/java/dbImporter/DBImporter.java
  java/dbImporter/src/test/java/dbImporter/DBImporterTest.java
  java/lightBulb/src/main/java/lightBulb/LightBulb.java
  java/lightBulb/src/main/java/lightBulb/LightBulbController.java
  java/lightBulb/src/test/java/lightBulb/LightBulbControllerTest.java
  java/lightBulb/src/test/java/lightBulb/LightBulbTest.java
  java/lightBulbMonitor/src/main/java/lightBulbMonitor/LightBulbMonitor.java
  java/lightBulbMonitor/src/test/java/lightBulbMonitor/LightBulbMonitorTest.java
  java/sharedUtils/src/main/java/sharedUtils/SharedUtils.java
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

codecheck changes
  java/dbImporter/pom.xml
  java/dbImporter/src/main/java/com/jam3s/dbimporter/DBImporter.java
  java/dbImporter/src/test/java/com/jam3s/dbimporter/DBImporterTest.java
Due: param-build-db-importer

renamed log->LOG and dbimporter build and style fixes
  java/dbImporter/checkstyle-checker.xml
  java/dbImporter/pom.xml
  java/dbImporter/src/main/java/com/jam3s/dbimporter/DBImporter.java
  java/dbImporter/src/main/java/com/jam3s/dbimporter/package-info.java
  java/dbImporter/src/test/java/com/jam3s/dbimporter/DBImporterTest.java
  java/lightBulb/src/main/java/lightBulb/LightBulbController.java
  java/lightBulbMonitor/src/main/java/lightBulbMonitor/LightBulbMonitor.java
  java/sharedUtils/src/main/java/sharedUtils/SharedUtils.java
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

refactor of lb lbm and shared utils projects
  java/dbImporter/pom.xml
  java/dbImporter/src/main/java/com/jam3s/dbimporter/DBImporter.java
  java/dbImporter/src/test/java/com/jam3s/dbimporter/DBImporterTest.java
  java/lightBulb/checkstyle-checker.xml
  java/lightBulb/pom.xml
  java/lightBulb/src/main/java/com/jam3s/lightbulb/LightBulb.java
  java/lightBulb/src/main/java/com/jam3s/lightbulb/LightBulbController.java
  java/lightBulb/src/main/java/com/jam3s/lightbulb/package-info.java
  java/lightBulb/src/test/java/com/jam3s/lightbulb/LightBulbControllerTest.java
  java/lightBulb/src/test/java/com/jam3s/lightbulb/LightBulbTest.java
  java/lightBulbMonitor/checkstyle-checker.xml
  java/lightBulbMonitor/pom.xml
  java/lightBulbMonitor/src/main/java/com/jam3s/lightbulbmonitor/LightBulbMonitor.java
  java/lightBulbMonitor/src/main/java/com/jam3s/lightbulbmonitor/package-info.java
  java/lightBulbMonitor/src/test/java/com/jam3s/lightbulbmonitor/LightBulbMonitorTest
  java/sharedUtils/checkstyle-checker.xml
  java/sharedUtils/pom.xml
  java/sharedUtils/src/main/java/com/jam3s/sharedutils/SharedUtils.java
  java/sharedUtils/src/main/java/com/jam3s/sharedutils/package-info.java
  java/sharedUtils/src/test/java/com/jam3s/sharedutils/SharedUtilsTest.java
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

refactor of lb lbm and shared utils projects
  java/dbImporter/src/test/java/com/jam3s/dbimporter/DBImporterTest.java
  java/lightBulb/src/test/java/com/jam3s/lightbulb/LightBulbControllerTest.java
  java/lightBulbMonitor/src/test/java/com/jam3s/lightbulbmonitor/LightBulbMonitorTest
  java/sharedUtils/src/test/java/com/jam3s/sharedutils/SharedUtilsTest.java
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

fixes for circleci
  java/dbImporter/pom.xml
  java/lightBulb/pom.xml
  java/lightBulbMonitor/pom.xml
  java/sharedUtils/pom.xml
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

added circleci build for sharedutils metrics
  .circleci/config.yml
  .circleci/continue_config.yml
  java/dbImporter/Dockerfile
  java/lightBulb/Dockerfile
  java/lightBulbMonitor/Dockerfile
  java/sharedUtils/Dockerfile
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

fixed pipeline
  .circleci/continue_config.yml
  java/dbImporter/Dockerfile
  java/lightBulb/Dockerfile
  java/lightBulbMonitor/Dockerfile
  java/sharedUtils/Dockerfile
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

fixed pipeline
  java/sharedUtils/Dockerfile
Due: none

fixed pipeline
  java/lightBulb/Dockerfile
  java/lightBulbMonitor/Dockerfile
  java/lightBulbMonitor/pom.xml
Due: param-build-light-bulb, param-build-light-bulb-monitor

edits for codecheck
  java/lightBulb/pom.xml
  java/lightBulb/src/main/java/com/jam3s/lightbulb/LightBulb.java
  java/lightBulb/src/main/java/com/jam3s/lightbulb/LightBulbController.java
  java/lightBulbMonitor/pom.xml
Due: param-build-light-bulb, param-build-light-bulb-monitor

fixed build issue
  java/dbImporter/pom.xml
  java/lightBulb/pom.xml
  java/lightBulbMonitor/pom.xml
  java/lightBulbMonitor/src/test/java/com/jam3s/lightbulbmonitor/LightBulbMonitorTest.java
  java/sharedUtils/pom.xml
Due: param-build-db-importer, param-build-light-bulb, param-build-light-bulb-monitor

checkstyle
  java/lightBulbMonitor/src/main/java/com/jam3s/lightbulbmonitor/LightBulbMonitor.java
Due: param-build-light-bulb-monitor

checkstyle
  java/lightBulb/src/main/java/com/jam3s/lightbulb/LightBulbController.java
Due: param-build-light-bulb

started to experiment with mockito
  java/lightBulbMonitor/src/main/java/com/jam3s/lightbulbmonitor/LightBulbMonitor.java
  java/lightBulbMonitor/src/test/java/com/jam3s/lightbulbmonitor/LightBulbMonitorTest.java
  java/sharedUtils/src/main/java/com/jam3s/sharedutils/SharedUtils.java
  java/sharedUtils/src/test/java/com/jam3s/sharedutils/SharedUtilsTest.java
Due: param-build-light-bulb-monitor

rabbitmq scaling, bug fixes
  helm/templates/rabbitmq.yaml
  java/dbImporter/pom.xml
  java/lightBulb/pom.xml
Due: param-build-db-importer, param-build-light-bulb

Path conditions:
  param-build-db-importer: (any of: java/dbImporter/.*) or (any of: .circleci/.*)
  param-build-light-bulb: (any of: java/lightBulb/.*) or (any of: .circleci/.*)
  param-build-light-bulb-monitor: (any of: java/lightBulbMonitor/.*) or (any of: .circleci/.*)
